/* FONTS */
@font-face {
  font-family: "Royhand";
  src: url(Fonts/Roy_Hand/roy-hand.ttf);
}

@font-face {
  font-family: "DINPro-Light";
  src: url(Fonts/DIN_Pro/DINPro-Light.ttf);
}

@font-face {
  font-family: "DINPro-Bold";
  src: url(Fonts/DIN_Pro/DINPro-Bold.ttf);
}

@font-face{
  font-family: "DINPro-Black";
  src: url(Fonts/DIN_Pro/DINPro-Black.ttf);
}

body {
  margin: 0;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  background-color: rgb(30 , 30, 30);
}

/* GRID LAYOUT */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 100px,);
    gap: 0;
}

/* TITLE GRID */
.title {
    grid-column: span 1 / span 1;
    background-color: rgba(5, 5, 5, 0.5);
    text-align: center;
    position: relative;
}

.title img {
  max-width: 100px;
  display: block;
  padding: 20px;
  position: relative;
  left: 50%;
}

/* NAVBAR GRID */
.navbar {
  grid-column: span 4 / span 4;
  grid-column-start: 2;
  background-color: rgba(5, 5, 5, 0.5);
  position: relative;
}

.navbar ul li {
  display: inline;
}

.navbar a {
  font-family: "DINPro-Bold", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 20px;
  border-radius: 2px;
  position: relative;
  left: 50%;
}

.navbar a:hover {
  background-color: rgb(100, 0, 0, 0.75);
}

/* CONTENT-1 GRID */
.content-1 {
  grid-column: span 5 / span 5;
  grid-row-start: 2;
  background-color: rgba(5, 5, 5, 0.5);
  position: relative;
  text-align: center;
}

.content-1 img {
  width: 100%;
}

.content-1-text {
  position: absolute;
  max-width: 400px;
  font-family: "Royhand";
  background-color:rgba(1, 1, 1, 0.5);
  padding: 2%;
  color: white;
  text-align: left;
  font-size: 18px;
  top: 55%;
  left: 0%;
}

/* CONTENT-1 GRID */
.content-2 {
  grid-column: span 5 / span 5;
  grid-row-start: 3;
  background-color: rgba(5, 5, 5, 0.5);
  position: relative;
  text-align: center;
}

.content-2 img {
  width: 100%;
}

.content-2-text {
  position: absolute;
  max-width: 400px;
  font-family: "Royhand";
  background-color:rgba(1, 1, 1, 0.5);
  padding: 2%;
  color: white;
  text-align: left;
  font-size: 18px;
  top: 55%;
  left: 0%;
}

/* CONTENT-1 GRID */
.content-3 {
  grid-column: span 5 / span 5;
  grid-row-start: 4;
  background-color: rgba(5, 5, 5, 0.5);
  position: relative;
  text-align: center;
}

.content-3 img {
  width: 100%;
}

.content-3-text {
  position: absolute;
  max-width: 400px;
  font-family: "Royhand";
  background-color:rgba(1, 1, 1, 0.5);
  padding: 2%;
  color: white;
  text-align: left;
  font-size: 18px;
  top: 55%;
  left: 0%;
}

/* CONTACTS GRID */
.contacts {
  grid-column: span 5 / span 5;
  grid-row-start: 5;
  background-color: rgba(5, 5, 5, 0.5);
  text-align: center;
}

.contacts ul li {
  display: inline;
  text-align: center;
}

.contacts a {
  font-family: "DINPro-Light", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  padding: 25px;
  border-radius: 2px;
}

.contacts a:hover {
  background-color: rgba(5, 5, 5, 0.5);;
}

/* INFO GRID */
.info {
  grid-column: span 5 / span 5;
  grid-row-start: 6;
  background-color: rgba(5, 5, 5, 0.5);
}

.info-text {
  font-family: "DINPro-Light", sans-serif;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;  
  color: white;
}