/* FONTS */
@font-face {
  font-family: "Open-sans";
  src: url(Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* GRID LAYOUT */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;
}

.title {
    grid-column: span 2 / span 2;
    background-color: rgba(5, 5, 5, 0.5);
}

.navbar {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    background-color: rgba(5, 5, 5, 0.5);
}

