/* FONTS */
@font-face {
  font-family: "Open-sans";
  src: url(Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
  margin: 0;
  padding: 0;
}

/* GRID LAYOUT */
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;
}

/* TITLE GRID */
.title {
    grid-column: span 2 / span 2;
    background-color: rgba(5, 5, 5, 0.5);
}

.title img {
  max-width: 250px;
  display: block;
}

/* NAVBAR GRID */
.navbar {
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    background-color: rgba(5, 5, 5, 0.5);
}

.navbar ul li {
  display: inline;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: white;
  
}

/* CONTENT-1 GRID */
.content-1 {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
    background-color: rgba(5, 5, 5, 0.5);
}

/* CONTENT-1 GRID */
.content-2 {
    grid-column: span 5 / span 5;
    grid-row-start: 3;
    background-color: rgba(5, 5, 5, 0.5);
}

/* CONTENT-1 GRID */
.content-3 {
    grid-column: span 5 / span 5;
    grid-row-start: 3;
    background-color: rgba(5, 5, 5, 0.5);
}

/* CONTACTS GRID */
.contacts {
    grid-column: span 5 / span 5;
    grid-row-start: 5;
    background-color: rgba(5, 5, 5, 0.5);
}

/* INFO GRID */
.info {
    grid-column: span 5 / span 5;
    grid-row-start: 6;
    background-color: rgba(5, 5, 5, 0.5);
}